@page "/counter"

<PageTitle>Usuarios</PageTitle>

<h1>USUARIOS</h1>

<p>Tabla General de Usuarios</p>

<table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Correo</th>
        </tr>
    </thead>
    <tbody>
       <tr>
           <td>Primer usuario</td>
           <td>Primer correo</td>
       </tr>
    </tbody>
</table>

<br />

<label>Nombre: </label>
<input type="text" placeholder="Escriba su nombre" />
<br />
<label>Correo: </label>
<input type="email" placeholder="Escriba su correo" />

<br />
<button type="button" class="btn btn-primary">Guardar</button>

<p>Procesando...</p>
