@page "/"

@inject HttpClient Http

<PageTitle>Home</PageTitle>

<h1 class="text-center mb-5">FINANZAS PERSONALES</h1>

<p class="text-center fw-bold text-uppercase">Estado actual de la conexión: </p>

<br />

<p class="alert alert-info">@ConexionServidor</p>
<p class="alert alert-success">@ConexionUsuarios</p>
<p class="alert alert-success">@ConexionMovimientos</p>

@code{
    string ConexionServidor = "En espera...";
    string ConexionUsuarios = "En espera...";
    string ConexionMovimientos = "En espera...";

    async Task ProbarConexion()
    {
        var respuesta = await Http.GetStringAsync("http://localhost:5137/api/User/Test");
        ConexionServidor = respuesta;

        var respuestaU = await Http.GetStringAsync("http://localhost:5137/api/User/TestUsers");
        ConexionUsuarios = respuestaU;

        var respuestaM = await Http.GetStringAsync("http://localhost:5137/api/Movement/TestMovements");
        ConexionMovimientos = respuestaM;
    }

    protected override async Task OnInitializedAsync()
    {
        await ProbarConexion();
    }
}
