@page "/"

<PageTitle>Home</PageTitle>

<h1 class="text-center mb-5">FINANZAS PERSONALES</h1>

<p class="text-center fw-bold text-uppercase">Estado actual de la conexión: </p>

<br />

<p class="alert alert-info">Conectando con el Servidor...</p>
<p class="alert alert-success">Conectando con la BD de la tabla de Usuarios</p>
<p class="alert alert-success">Conectando con la BD de la tabla de Movimientos</p>
