@page "/"

@inject HttpClient Http

<PageTitle>Home</PageTitle>

<h1 class="text-center mb-5">FINANZAS PERSONALES</h1>

<p class="text-center fw-bold text-uppercase">Estado actual de la conexión: </p>

<br />

<p class="alert alert-info">@ConexionServidor</p>
<p class="alert alert-success">Conectando con la BD de la tabla de Usuarios</p>
<p class="alert alert-success">Conectando con la BD de la tabla de Movimientos</p>

@code{
    string ConexionServidor = "En espera...";

    async Task ProbarConexion()
    {
        await Task.Delay(3000);
        var respuesta = await Http.GetStringAsync("http://localhost:5137/api/User/Test");
        ConexionServidor = respuesta;
    }

    protected override async Task OnInitializedAsync()
    {
        await ProbarConexion();
    }
}
