@page "/"

<PageTitle>Home</PageTitle>

<h1>FINANZAS PERSONALES</h1>

<p>Estado actual de la conexión...</p>

<br />

<p>Conectando con el Servidor...</p>
<p>Conectando con la BD de la tabla de Usuarios</p>
<p>Conectando con la BD de la tabla de Movimientos</p>
