@page "/weather"

<PageTitle>Movimientos</PageTitle>

<h1>Movimientos</h1>

<br />

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Fecha</th>
            <th scope="col">Descripción</th>
            <th scope="col">Cantidad</th>
            <th scope="col">Tipo</th>
            <th scope="col">Nombre</th>
            <th scope="col">Acciones</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>2021-01-01</td>
            <td>Descripción</td>
            <td>Intensidad</td>
            <td>Intensidad</td>
            <td>Nombre</td>
            <td>
                <button type="button" class="btn btn-primary">Editar</button>
                <button type="button" class="btn btn-danger">Eliminar</button>
            </td>
        </tr>
    </tbody>
</table>

<br />

<h3>Registrar Movimiento</h3>   

<label>Usuario: </label>
<select class="form-control">
    <option value="1">Usuario 1</option>
    <option value="2">Usuario 2</option>
    <option value="3">Usuario 3</option>
</select>

<br />
<label>Cantidad: </label>
<input type="number" placeholder="Escriba la cantidad" />
<br />
<label>Tipo: </label>
<select class="form-control">
    <option value="ingreso">Ingreso</option>
    <option value="egreso">Egreso</option>
</select>
<br />
<label>Descripción: </label>
<input type="text" placeholder="Escriba la descripción" />

<br />
<button type="button" class="btn btn-primary">Guardar</button>

<p>Procesando...</p>